<br/><br/>
<header>
  <center class= "header">
    <h3> Welcome, <%= @spotify_user.display_name %> </h3>
    <p><%= @spotify_user.email %></p>
  </center>

  <br/>
  
  <div align="center">
    My current top artist: <%= @spotify_user.top_artists.first.name%><br/>
    My current top track: <%= @spotify_user.top_tracks.first.name%>
  </div>
</header>

<br/><br/>

<body>
  <center class="dashboard">
    <a> <%= link_to 'My Playlists', playlists_path %></a> &nbsp; &nbsp; &nbsp;
    <a><%= link_to 'My Spotify Account', "https://www.spotify.com/us/account/overview/", target: :_blank, class: 'dashboard' %></a> &nbsp; &nbsp; &nbsp;
    <a href="/artists/new/">Search Artists</a> &nbsp; &nbsp; &nbsp;
  </center>

  
    <br/>

</body>

<div class="footer">
  <font size="1">
    ** Visit 'My Account' on the top navigation, or 'My Spotify Account' on the home page to log out on Spotify.com
  </font>
</div>

