<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
  <li><%= link_to 'My Playlists', player_playlists_path %></li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Playlists</h1>
<div><%= link_to 'New Playlist', new_player_playlist_path %></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= link_to 'Show', player_playlist_path(playlist.player.id, playlist), id: "show#{playlist.id}"%></td>
        <td><%= link_to 'Edit', edit_player_playlist_path(playlist.player.id, playlist) %></td>
        <td><%= link_to 'Delete', player_playlist_path(playlist.player.id, playlist), id: "destroy#{playlist.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>