<br/>
<center> 
  <h1 class="page-header"> 
    <%= @playlist.name %>
  </h1> 
  <p><%= @playlist.total %> Songs In <i><%= @playlist.name %></i>
    <br/>
    <font size='1'>Start New Artist Search to Add Tracks</font>
  </p>
  <br/>
</center> 

<ol>
  <% @playlist.tracks.each do |track| %>
    <li><%= track.name %> | 
      <a class='remove-track' href='#' data-track-id="<%= track.id %>">Remove Track</a>
    </li>
  <% end %>
</ol>


<script>
  $(function() {
    $('a.remove-track').click(function(event) {
        event.preventDefault();
      var del=confirm("Are you sure you want to remove this track?");
      if (del==true){
        $.ajax({
          type: "DELETE",
          url: "/playlists/remove_track",
          data: {
            "track_id": $(event.target).data('track-id'),
            "playlist_id": "<%= @playlist.id %>"
          }
        });
      }else{
        alert("Track not removed")
       }
    });
  });
</script>


