
<br/>
<center> 
  <h1 class="page-header"> 
    <%= @playlist.name %>
  </h1> 
  <p><%= @playlist.total %> Songs In <i><%= @playlist.name %></i></p>
</center> 

<br/>

<ol><% @playlist.tracks.each do |track| %>
 <li><%= track.name %> | <%= link_to 'Remove Track', playlists_remove_track_path, method: :delete %></li>
<% end %></ol>


<%= @playlist.inspect %>