<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/users/">SpotifyApp</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="/auth/spotify">Sign In With Spotify</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.spotify.com/us/account/overview/">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/playlists/">My Playlists</a>
      </li>
    </ul>
    
 <div class="form-inline my-2 my-lg-0">
    <%= form_tag artists_path, method: "get", html: { class: "form" } do %>
 
       <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control mr-sm-2") %>

     <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
   
  </div>
 <% end %> 
  </div>
</nav>



    <!-- <ul>
      <li><a class="active" href="/users/">Home</a></li>
      <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
      <li><a href="/playlists/">My Playlists</a></li>
      <li><a href="/artists/new/">Search Artists</a></li>
    </ul> -->
    <%= yield %>
  </body>
</html>

