<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand">
        <% if @spotify_user %>
          <%= link_to 'SpotifyApp', users_path, class: 'navbar-brand' %>
        <% else %>
          <%= link_to 'SpotifyApp', '/users', class: 'navbar-brand' %>
        <% end %>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <% if @spotify_user %>
            <li class="nav-item">
              <a class="nav-link" href="/users/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/playlists/">My Playlists</a>
            </li>
            <li class="nav-item">
              <%= link_to 'My Account', "https://www.spotify.com/us/account/overview/", target: :_blank, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', logout_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/spotify"></a>
            </li>
          <% end %>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <%= form_tag artists_path, method: "get", html: { class: "form" } do %>
          <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control mr-sm-2") %>
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %> 
        </div>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>

